@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  background-color: hsl(218, 23%, 16%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.advice-generator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.advice-container {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(217, 19%, 24%);
  border-radius: 30px;
  padding: 50px 50px 70px 50px;
  position: relative;
}

.advice-container__advice {
  color: hsl(193, 38%, 86%);
  font-weight: 800;
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.advice-generator__number {
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}
.advice-generator__button {
  background-color: hsl(150, 100%, 66%);
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: -25px;
  transition: all 200ms ease-in-out;
}

.advice-generator__button:hover {
  box-shadow: hsl(150deg 100% 66%) 0px 0px 29px 7px;
}
.advice-mobile-divider {
  display: none;
}

@media screen and (max-width: 768px) {
  .advice-container {
    width: fit-content;
    margin: 0 30px;
  }
  .advice-desktop-divider {
    display: none;
  }
  .advice-mobile-divider {
    display: block;
    width: 100%;
  }
}
